{% extends 'common/home_page.html' %}
{% load  static %}

{% block maincontent %}

         <section class="editPage">
    <form action="{% url 'delete_profile' request.user.pk %}" method="post">
    <fieldset>
        <p><legend>Are you sure you want to delete your profile?</legend></p>

            <p><img src="{% static 'images/are_you_sure.gif' %}" alt="are you sure gif"></p>
            <div class="container">
        {{ form }}
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Yes</button>
                <button class="btn btn-secondary" type="submit">Cancel</button>
    </div>
    </fieldset>
    </form>
    </section>

            </div>
        </div>

{% endblock %}