{% extends 'common/home_page.html' %}
{% load  static %}

{% block maincontent %}

    <!-- Start Delete Profile Section -->
         <section class="editPage">
    <form action="{% url 'delete_profile' profile.id %}" method="post">
    <fieldset>
        <p><legend>Are you certain you want to delete this movie?</legend></p>

            <p><img src="{% static 'images/are_you_sure.gif' %}" alt="are you sure gif"></p>
            <div class="container">
        {{ form }}
        {% csrf_token %}

        <button class="btn btn-primary" type="submit">Yes</button>
                <a class="edit-btn" href="javascript:history.back()"><button class="btn btn-secondary">Go Back</button></a>
    </div>
    </fieldset>
    </form>
    </section>

            </div>
        </div>

{% endblock %}