{% extends 'common/home_page.html' %}
{% load static %}

{% block maincontent %}
    <div class="personal">
        <div class="edit">
            <ul>
                {% if profile.profile_picture %}
                    <p><img src="{{ profile_picture }}" alt="Profile Picture"></p>
                {% else %}
                    <p><i class="fa-solid fa-user fa-lg"></i></p>
                {% endif %}
                <p>{{ object.first_name }}</p>
                <p>{{ object.last_name }}</p>
                <p>{{ object.email }}</p>
                <p>{{ object.country }}</p>
                <p>{{ object.favourite_team }}</p>
            </ul>


            <input type="hidden" value="{{ next }}" name="next"/>

            <a href="{% url 'edit_profile' pk=object.pk %}">
                <img style="max-width:100px" class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}"
                     alt="edit button">
            </a>

            <a href="{% url 'delete_profile' pk=object.pk %}">
                <img style="max-width:100px" class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}"
                     alt="bin button">
            </a>


        </div>
    </div>
{% endblock %}