{% extends 'common/base.html' %}

{% block maincontent %}

    <ul>
        <p><img src="{{ profile_picture }}" alt="Profile Picture"></p>
        <p>{{ object.first_name }}</p>
        <p>{{ object.last_name }}</p>
        <p>{{ object.email }}</p>
        <p>{{ object.country }}</p>
        <p>{{ object.favourite_team }}</p>


    </ul>
    </div>
    </div>

    <input type="hidden" value="{{ next }}" name="next"/>

    <p><button type="submit">Save Changes</button></p>

    </div>
    </div>
{% endblock %}