{% extends 'common/home_page.html' %}

{% block maincontent %}
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Football News</h1>


            <form action="{% url 'edit_profile' pk=object.pk %}" method="post">
                {% csrf_token %}

                <ul>
                    {% for field in form %}
                        <li>
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <small>{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="error-message">{{ error }}</div>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>


                <input type="hidden" value="{{ next }}" name="next"/>

                <button class="btn btn-primary" type="submit">Save Changes</button>
                <button class="btn btn-secondary" type="submit">Cancel</button>
            </form>
        </div>
    </div>
{% endblock %}