.article-list {
    text-align: center;
    margin-top: 20px;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article-box {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.article-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-form button {
    margin-top: 10px;
}