{% extends 'common/home_page.html' %}

{% block maincontent %}
    <div class="login-register-div">
        <div class="login-register-box">

            <form action="{% url 'create_article' %}" method="post">
                {% csrf_token %}
                <ul>
                    <li>
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </li>
                    <li>
                        {{ form.content.label_tag }}
                        {{ form.content }}
                    </li>
                </ul>
                <input type="hidden" value="{{ next }}" name="next"/>
                <button type="submit">Save</button>
            </form>
        </div>
        <div class="second-option">
            <a href="{% url 'index' %}?next={{ next }}">Cancel</a>
        </div>
    </div>
    </p>
{% endblock %}